$base:rgb(243,243,243);

$color:rgb(110,110,110);

$font-family: source-code-pro;

$line-numbers-background: darken(white, 4%);
$line-numbers-color: gray;

$code-editor-color:rgba(255,255,255,0.25);
$code-editor-default-color:black;
$code-editor-default-background:#eee;

$text-editor-shadow:rgba(0,0,0,0.125);
$scode-caret-color:black;


$palette-background:#fefefe;
$palette-color:gray;

$header-background: $base;
$header-bottom-line:lightgray;
$header-span-border: $header-bottom-line;
$header-span-color:rgb(110,110,110);
$header-active-element:rgba(255,255,255, 0.05);

$sbar-background: $base;
$sbar-color: gray;
$sbar-top-line:$header-bottom-line;

$def-color: black;
$wd-br:$header-bottom-line;

@import "base";
