$base:rgb(30,30,30);

$font-family: source-code-pro;

$color:white;

$line-numbers-background: rgb(32,32,32);
$line-numbers-color: rgba(255,255,255, 0.25);

$code-editor-color:rgba(255,255,255,0.25);
$code-editor-default-color:white;
$code-editor-default-background:rgb(30,30,30);

$text-editor-shadow:"none";
$scode-caret-color:auto;


$header-background: $base;
$header-bottom-line:rgb(24,24,24);
$header-span-color:$color;
$header-span-border: $header-bottom-line;
$header-active-element:rgba(255,255,255, 0.05);

$sbar-background: $base;
$sbar-color: white;
$sbar-top-line:$header-bottom-line;

$def-color: white;
$wd-br:$header-bottom-line;


@import "base";