/* SCode default style Copyright 2018 Simon Loir */
/* line 1, ../scss/_style.scss */
* { color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

/* line 5, ../scss/_style.scss */
body { background: #1e1e1e; }

/* line 9, ../scss/_style.scss */
#scode_header { background: #1e1e1e; border-bottom: 1px solid #181818; }

/* line 14, ../scss/_style.scss */
#scode_workspace { background: #252525; }
/* line 16, ../scss/_style.scss */
#scode_workspace #scode_explorer { border-right: 1px solid #252525; }
/* line 17, ../scss/_style.scss */
#scode_workspace #scode_explorer b { color: rgba(255, 255, 255, 0.75); }
/* line 27, ../scss/_style.scss */
#scode_workspace #scode_tabmanager { background: #1e1e1e; }

/* line 32, ../scss/_style.scss */
#scode_status_bar { border-top: 1px solid #181818; }
