/*
This files describes the default positions of the graphical components
*/
/* line 5, ../scss/structure.scss */
body, html { margin: 0; padding: 0; }

/* line 12, ../scss/structure.scss */
#scode_header { position: fixed; top: 0; right: 0; left: 0; height: 26px; padding: 5px; -webkit-app-region: drag; }
/* line 19, ../scss/structure.scss */
#scode_header #scode_header_logo { height: calc(100% - 5px); vertical-align: middle; }
/* line 24, ../scss/structure.scss */
#scode_header #scode_header_title { vertical-align: middle; display: inline-block; }
/* line 28, ../scss/structure.scss */
#scode_header .scode_controls { -webkit-app-region: no-drag; float: right; padding-left: 8px; padding-right: 8px; transition: 0.75s; }
/* line 34, ../scss/structure.scss */
#scode_header .scode_controls:hover { color: coral; cursor: pointer; }

/* line 43, ../scss/structure.scss */
#scode_workspace { --explorer-size-in-px: 200px; position: fixed; top: 37px; left: 0; right: 0; bottom: 26px; }
/* line 49, ../scss/structure.scss */
#scode_workspace #scode_explorer { position: absolute; top: 0; bottom: 0; left: 0; width: var(--explorer-size-in-px); height: calc(100% - 26px); padding: 13px; }
/* line 57, ../scss/structure.scss */
#scode_workspace #scode_tabmanager { position: absolute; top: 0; bottom: 0; left: calc(var(--explorer-size-in-px) + 27px); right: 0; height: 100%; }

/* line 69, ../scss/structure.scss */
#scode_status_bar { position: fixed; bottom: 0; right: 0; left: 0; height: 20px; padding: 3px; }

/* line 81, ../scss/structure.scss */
::-webkit-scrollbar { -webkit-app-region: no-drag; width: 12px; background: transparent; }

/* line 87, ../scss/structure.scss */
::-webkit-scrollbar-track { -webkit-app-region: no-drag; background: none; background: transparent; }

/* line 93, ../scss/structure.scss */
::-webkit-scrollbar-thumb { -webkit-app-region: no-drag; background: rgba(255, 255, 255, 0.05); transition: 0.75s; cursor: pointer; }

/* line 99, ../scss/structure.scss */
::-webkit-scrollbar-thumb:hover { -webkit-app-region: no-drag; background: rgba(255, 255, 255, 0.5); }
