
.icon-box:before { content: '\e800'; } /* '' */
.icon-file:before { content: '\e801'; } /* '' */
.icon-folder:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\f00f'; } /* '' */