/* SCode stylesheet */

@font-face{
    font-family: souce-code-pro;
    src:url(SourceCodePro-Regular.ttf);
}

*:focus{
    outline: none;
}

body{
    background:rgb(30,30,30);
    font-family: source-code-pro;
}

.tabmanager{
    position: fixed;
    top:30px;
    left:0;
    right:0;
    bottom:25px;
}

.tabmanager button{
    background: transparent;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border:2px solid gray;
    color:gray;

    font-family: sans-serif;
    padding: 5px;
    padding-left: 8px;padding-right: 8px;
    border-radius: 4px;
    cursor: pointer;
    
}

.tabmanager img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.tab{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    width: 100%;
}

.line-numbers{
    background: transparent;
    position: absolute;
    top: 0;left: 0;bottom: 0;
    padding-right: 5px;
    padding-left: 0;
    padding-top: 25px;padding-bottom: 25px;
    font-family: souce-code-pro, sans-serif;
    color:rgba(255,255,255, 0.25);overflow:hidden;
    font-size:20px;
    margin:0;
    width:40px;
    height:calc(100% - 50px);
    border:none;
    white-space: nowrap;
    background:rgb(32,32,32);
    text-align: right;
}
.code-editor{
    background: transparent;
    position: absolute;
    top: 0;left: 45px;right: 0;bottom: 0;
    padding: 25px;
    font-family: souce-code-pro, sans-serif;
    color:rgba(255,255,255,0.3);overflow:auto;
    font-size:20px;
    margin:0;
    width:calc(100% - 95px);
    height:calc(100% - 50px);
    border:none;
    white-space: nowrap;
}
.code-editor-colors{
    font-size:20px;
    position: absolute;
    top: 0;left: 45px;right: 0;bottom: 0;
    padding: 25px;
    font-family: souce-code-pro, sans-serif;
    background:rgb(30,30,30);
    color:white; overflow:auto;   
    margin:0;
    width:calc(100% - 95px);
    height:calc(100% - 50px);
    border:none;
    white-space: nowrap;
}

.md .code-editor{
    right:50%;
    width:calc(50% - 95px);
}
.md .code-editor-colors{
    right:50%;
    width:calc(50% - 95px);    
}

.md .md-preview{
    font-size:20px;
    position: absolute;
    top: 0;right: 0;bottom: 0;
    padding: 25px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background:rgb(30,30,30);
    color:white; overflow:auto;   
    margin:0;
    width:calc(50% - 50px);
    height:100%;
    border:none;
    white-space: nowrap;
    border-left: 1px solid gray;

}


.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    height: 29px;
    background:rgb(30,30,30);
    border-bottom: 1px solid rgb(24,24,24);
    -webkit-app-region: drag;
}

.header span{
    display: inline-block;
    height: 29px;
    padding-left: 10px;padding-right: 10px;
    color:white;
    border-right:1px solid rgb(24,24,24);
    font-family: source-code-pro, sans-serif;
    line-height: 29px;
    -webkit-app-region: no-drag;
}

#closethis{
    transition: 0.75s;
   float:right;
   color:red;
   cursor: pointer;
}

#minthis{
    transition: 0.75s;
   cursor: pointer;   
    float:right;
    border-left:1px solid rgb(24,24,24);
}
#minthis:hover, #closethis:hover{
    background:rgba(255,255,255,0.25);
}


#git_status{
    float:right;
}

.status{
    position: fixed;
    bottom:0;
    left:0;right:0;
    background:rgb(42, 42, 42);
    height: 25px;
    color:white;
    padding: 0;margin: 0;
}

.status span{
    padding: 0;margin: 0;
    display: inline-block;
    height: 25px;
    padding-left:5px;padding-right: 5px;
    color:white; 
    line-height: 25px;
    font-family: souce-code-pro, sans-serif;    
}

#opened_files, #working_dir, #git{
    display: none;
    position: fixed;
    bottom:25px;
    padding: 25px;
    background:inherit;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
    color:white;
    font-family: source-code-pro, sans-serif;
    max-height: calc(100% - 100px);
    overflow: auto;
}

#opened_files{
    right:5px;
}

#git{
    right: 180px;
    transform: translateX(50%);
    max-width: 300px;
    width:100%;
    max-height: calc(100% - 60px);
}

#git textarea{
    background:rgb(58, 58, 58);
    border:1px solid rgb(32, 31, 31);
    color:white;
    font-family: source-code-pro, sans-serif;
    padding: 5px;
    width: calc(100% - 29px);
}

#working_dir{
    left:5px;
}

#working_dir div, #git div{
    padding-left: 12px;    
}

::-webkit-scrollbar{
    -webkit-app-region: no-drag;    
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-track{
    -webkit-app-region: no-drag;    
    background: none;
    background: transparent;
}

::-webkit-scrollbar-thumb{
    -webkit-app-region: no-drag;    
    background: rgba(255,255,255,0.05);
    transition:0.75s;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover{
    -webkit-app-region: no-drag;    
    background: rgba(255,255,255,0.50);
}

textarea{
    resize: none;
}

::selection{
    background: rgba(57, 57, 255, 0.25);
    color:white;
}

.md-preview a{
    color:cornflowerblue;
    text-decoration: none;
}

.md-preview code{
    background:rgba(255,255,255, 0.25);
    padding: 2px;
}

.md-preview h1{
    border-bottom: 1px solid white;
}