.line-numbers{
    position: absolute;
    top: 0;left: 0;bottom: 0;
    padding-right: 5px;
    padding-left: 0;
    padding-top: 25px;padding-bottom: 25px;
    font-family: $font-family, sans-serif;
    color:$line-numbers-color;overflow:hidden;
    font-size:$editor-default-font-size;
    margin:0;
    width:40px;
    height:calc(100% - 50px);
    border:none;
    white-space: nowrap;
    background:$line-numbers-background;
    text-align: right;
    &::selection{
        background: transparent;
    }
    pointer-events: none; 
}

.code-editor-search{
    background: transparent;
    position: absolute;
    top: 0;left: 45px;right: 0;bottom: 0;
    padding: 25px;
    font-family: $font-family, sans-serif;
    color:transparent;
    overflow:auto;
    font-size:$editor-default-font-size;
    margin:0;
    width:calc(100% - 95px);
    height:calc(100% - 50px);
    border:none;
    white-space: nowrap;
}

.code-editor-colors{
    @if $text-editor-shadow != "none"{
        -webkit-text-stroke: 1px $text-editor-shadow;
    }
    font-size:$editor-default-font-size;
    position: absolute;
    top: 0;left: 45px;right: 0;bottom: 0;
    padding: 25px;
    padding-left: 25px;

    font-family: $font-family, sans-serif;
    background:$code-editor-default-background;
    color:$code-editor-default-color; overflow:auto;   
    margin:0;
    width:calc(100% - 95px);
    height:calc(100% - 50px);
    border:none;
    white-space: nowrap;
    overflow: hidden;
    & pre, & span{
        padding: 0;
        margin: 0;
        font-size:$editor-default-font-size;
        font-family: $font-family, sans-serif;
    }
    & pre{
        color:$code-editor-default-color;
        &.default1{color:$color-default1;}
        &.default2{color:$color-default2;}
    }
}

.line{
    display: block;
    overflow: visible;
    padding: 0;
    margin: 0;
    font-size:$editor-default-font-size;
    font-family: $font-family, sans-serif;
    color:$code-editor-default-color;
}

.input{
    caret-color: red;
    font-size:$editor-default-font-size;
    font-family: $font-family, sans-serif;
    color:$code-editor-default-color;
    background: transparent;
    width: 10px;
}
.keyword1{color:$color-keyword1;}
.function{color:$color-function;}
.string{color:$color-string;}
.comment{color:$color-comment;}
.operator{color:$color-operators};