* {
    color:$scode-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: $scode-background-color;
}

#scode_header{
    background:$scode-header-background;
    border-bottom: 1px solid $header-bottom-line-color;
}

#scode_workspace{
    background:$scode-workspace-background-color;
    & #scode_explorer{
       
    }
    & #scode_tabmanager{
        
    }
}