* {
    color:$scode-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: $scode-background-color;
}

#scode_header{
    background:$scode-header-background;
    border-bottom: 1px solid $scode-header-bottom-line-color;
}

#scode_workspace{
    background:$scode-workspace-background-color;
    & #scode_explorer{
        & b{
            color:$explorer-title-color;
        }
        border-right:1px solid $scode-explorer-right-line-color;
    }
    & #scode_tabmanager{
        background: $scode-tabmanager-background-color;
        & #scode_tabmanager_tabs{
            background:$scode-tabmanager-tabs-background-color;
            & .scode_tabmanager_tabs{
                background: $scode-tabmanager-tab-background-color;
                margin:0;
            }
        }
    }
}

#scode_status_bar{
    border-top:1px solid $scode-statuts-bar-top-line-color;
}