@font-face{
    font-family: source-code-pro;
    src:url(./SourceCodePro-Regular.ttf);
}

$scode-caret-color:white;

$font-family:"source-code-pro";

$code-editor-default-color:black;

$editor-default-font-size:18px;

$text-editor-shadow:"none";

$code-editor-default-background:white;

$line-numbers-color:black;
$line-numbers-background:$code-editor-default-background;

//$color-keyword1:rgb(197,134, 193);
$color-keyword1:blue;
$color-default1:black;
$color-default2:black;
$color-function:gray;
$color-string:rgb(206,145,120);
$color-comment:rgb(96,139,78);
$color-operators:black;

@import "highlight";