/*
 * SCode default style
 * Copyright 2018 Simon Loir
 */

//Global
$scode-color:white;
$scode-background-color:rgb(30,30,30);
//$scode-background-color:rgba(30,30,30, 0.85);

//Header
$scode-header-color:$scode-color;
$scode-header-background:$scode-background-color;
$scode-header-bottom-line-color:rgb(24,24,24);

//Explorer
$scode-workspace-background-color:rgb(37,37,37);
$explorer-title-color:rgba(255,255,255,0.75);
$scode-explorer-right-line-color:rgb(37,37,37);

//Tabmanager
$scode-tabmanager-background-color:$scode-background-color;
$scode-tabmanager-tabs-background-color:rgb(37,37,37);
$scode-tabmanager-tab-background-color:rgb(46,46,46);
$scode-tabmanager-tab-border-color:rgb(37,37,37);

//StatusBar
$scode-statuts-bar-top-line-color:rgb(24,24,24);

//Components
$scode-component-button-bg-color:rgb(24,24,24);

@import "style";