/*
This files describes the default positions of the graphical components
*/

body, html{
    margin: 0;
    padding: 0;
}

///SCodeHeader

#scode_header{
    position: fixed;
    top: 0;right: 0;left: 0;
    height: 26px;
    padding: 5px;
    //border-bottom: 1px solid white;
    -webkit-app-region: drag;
    & #scode_header_logo{
        height: calc(100% - 5px);
        vertical-align: middle;
        //display: inline-block;
    }
    & #scode_header_title{
        vertical-align: middle;
        display: inline-block;        
    }
    & .scode_controls{
        -webkit-app-region: no-drag;
        float:right;
        padding-left: 8px;
        padding-right: 8px;
        transition: 0.75s;
        &:hover{
            color:coral;
            cursor:pointer;
        }
    }
}

///SCodeWorkspace

#scode_workspace{
    --explorer-size-in-px:200px;
    position: fixed;
    top: 37px;
    left: 0;right: 0;bottom: 26px;
    
    & #scode_explorer{
        position: absolute;
        top: 0;bottom: 0;left: 0;
        width: var(--explorer-size-in-px);
        height: calc(100% - 26px);
        padding: 13px;
        //border:1px solid red;
    }
    & #scode_tabmanager{
        position: absolute;
        top: 0;bottom: 0;
        left:calc(var(--explorer-size-in-px) + 27px);
        right:0;
        height: 100%;
        //border:1px solid red;
        & #scode_tabmanager_tabs{
            position: absolute;
            top: 0;right: 0;left: 0;
            height: 36px;
            & .scode_tabmanager_tabs{
                display: inline-block;
                height: calc(100% - 10px);
                padding:5px;
            }
        }
        & .scode_tabmnager_tab_content{
            padding: 0;
            margin: 0;
            position: absolute;
            top: 36px;
            left: 0;right: 0;bottom: 0;
        }
    }
}

///ScodeStatusBar

#scode_status_bar{
    position: fixed;
    bottom:0;right: 0;left: 0;
    height: 20px;
    padding: 3px;
}

///ScrollBar 

$scrollbar-thumb:rgba(255,255,255,0.05);
$scrollbar-thumb-hover:rgba(255,255,255,0.50);

::-webkit-scrollbar{
    -webkit-app-region: no-drag;    
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-track{
    -webkit-app-region: no-drag;    
    background: none;
    background: transparent;
}

::-webkit-scrollbar-thumb{
    -webkit-app-region: no-drag;    
    background: $scrollbar-thumb;
    transition:0.75s;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover{
    -webkit-app-region: no-drag;    
    background: $scrollbar-thumb-hover;
}